html, body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #e2e3f5;
}

.container{
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    align-items: center;
}

.container header{
    background: #ec370a;
    color: white;
    padding: 1rem;
}

.cardsContainer{
    width: 100%;
    max-width: inherit;

    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 200px;
    margin: 0.5rem;
    padding: 1.5rem;

    background: white;
    border-radius: 5px;
}

.card strong{
    border-bottom: 1px solid #aaadaf;
    padding: 0.25rem;
    width: 100%;
    text-align: center;
}

.card img{
    width: 100%;
}